:root {
  /*colores*/
  --yellow: #F0A83E;
  --brown: #3C2313;
  --background-img: #fbf9f6;
  --gray: #8A8787;
}

/* Reiniciar los estilos que el navegador trae por defecto */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.offers {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  padding: 0px 15px;
}

select {
  background-color: black;
  border: none;
  color: white;
}

/*EMPIEZA HEADER*/
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--yellow);
  padding: 20px 20px;
  align-items: center;
}
header nav {
  display: none;
  list-style: none;
  gap: 40px;
}
header li a {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  text-decoration: none;
}
header li a::before {
  content: url("../assets/img/pawprint_white.png");
}
header li a:hover {
  text-decoration: underline;
}

.bx-menu {
  color: white;
  cursor: pointer;
}
.bx-menu:hover {
  background-color: rgba(255, 255, 255, 0.2470588235);
}

@media (min-width: 769px) {
  .bx-menu {
    display: none;
  }
  header nav {
    display: flex;
  }
  header li {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
/*TERMINA HEADER*/
/*EMPIEZA HERO*/
.hero {
  width: 100%;
  min-width: 320px;
  height: 60vh;
  background-image: url("../assets/img/Hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: end;
}
.hero section {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: end;
  padding: 15px;
  gap: 10px;
}
.hero section h3 {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--brown);
  font-size: 1.7rem;
  font-weight: 400;
}
.hero section p {
  border-radius: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5294117647);
}
.hero section button {
  font-size: 1rem;
  background-color: var(--yellow);
  border: none;
  padding: 20px 25px;
  border-radius: 5px;
  color: white;
}

@media (min-width: 769px) {
  .hero section {
    align-items: center;
  }
}
/*TERMINA HERO*/
/*EMPIEZA PRODUCTS*/
.products {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.products h2 {
  font-size: 2.5rem;
  width: 50%;
  text-align: center;
  color: var(--brown);
  padding: 10px 0px;
}
.products ul {
  display: flex;
  gap: 25px;
  list-style: none;
}
.products > img {
  width: 70px;
  padding: 10px 0px;
}
.products > div {
  padding: 30px 0px;
  display: flex;
  flex-flow: column;
  gap: 25px;
}

.card {
  text-align: center;
  background-color: var(--background-img);
}
.card p {
  padding: 5px 0px;
  color: var(--yellow);
  font-weight: bold;
}

.featured-products li:not(:last-child)::after {
  padding-left: 25px;
  content: "-";
}

@media (min-width: 769px) {
  .products > div {
    flex-flow: row;
  }
}
/*TERMINA PRODUCTS*/
/*EMPIEZA CONTACT US*/
.contact-us {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 5px;
}
.contact-us h2 {
  font-size: xx-large;
  width: 50%;
  text-align: center;
  color: var(--brown);
  padding: 10px 0px;
}
.contact-us form {
  display: flex;
  flex-flow: column;
  padding: 10px 0px;
  gap: 5px;
  align-items: center;
}
.contact-us div {
  display: flex;
  padding: 25px 0px;
  gap: 5px;
}
.contact-us div input {
  border: none;
  padding: 10px 50px;
  border-radius: 25px;
  color: white;
}

.input__text {
  background-color: var(--brown);
  padding: 10px;
  border-radius: 15px;
  width: 340px;
  color: white;
}

input::-moz-placeholder {
  font-size: 0.5rem;
  color: white;
}

input::placeholder {
  font-size: 0.5rem;
  color: white;
}

.contact-us input:hover {
  opacity: 0.9;
}

.reset--button {
  background-color: var(--gray);
}

.submit--button {
  background-color: var(--yellow);
}

/*TERMINA CONTACT US*/
/*EMPIEZA NEWSLETTER*/
.newsletter {
  display: flex;
  background-color: var(--yellow);
  padding: 10px;
  flex-flow: column;
  align-items: center;
}
.newsletter div {
  display: flex;
  color: white;
  padding: 5px 10px;
  gap: 25px;
}
.newsletter form {
  display: flex;
  padding: 5px 10px;
  gap: 10px;
}
.newsletter form .input__submit {
  padding: 10px;
  border-radius: 15px;
  border: none;
  color: white;
}
.newsletter .input {
  padding: 10px;
  border-radius: 15px;
  width: 250px;
  border: none;
}
.newsletter .input::-moz-placeholder {
  color: gray;
}
.newsletter .input::placeholder {
  color: gray;
}

.input__submit {
  background-color: var(--brown);
}

@media (min-width: 769px) {
  .newsletter {
    flex-flow: row;
    justify-content: space-between;
  }
}
/*TERMINA NEWSLETTER*/
/*EMPIEZA FOOTER*/
footer {
  background-color: var(--brown);
  color: white;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 15px;
  gap: 10px;
}
footer > section {
  display: flex;
  flex-flow: column;
  gap: 10px;
}
footer > section > article {
  display: flex;
  width: 250px;
  align-items: center;
  gap: 15px;
}
footer > section > article p {
  color: var(--gray);
  font-weight: bold;
  font-size: small;
}

.bx-border-circle {
  background-color: var(--gray);
  padding: 0.1em;
}

@media (min-width: 769px) {
  footer {
    flex-flow: row-reverse;
    justify-content: space-between;
    padding: 15px 45px;
  }
}
/*TERMINA FOOTER*/
.rights {
  background-color: black;
  color: white;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */